*{
  padding:0;
  margin:0;
}
body{
  max-width: 100%;
  justify-content: center;
  align-items:center;
}
nav{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    background-color: #004d00;
    color: white;
    padding: 1rem 10px;
}
.Navbar-links li, .Navbar-links a {
  text-decoration: none;
  list-style: none;
  color:white;
}
.Navbar-links{
  display:flex;
  flex-direction: row;
  gap: 15px;
}
.logo{
    display: flex;
}

.header h1 {
    margin: 0;
}
.landing-content{
  display: flex;
  flex-direction:column ;
  gap:20px;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    
}
.landing-page{
  flex:1;
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 2rem;
  background-color: #fff;
  align-items: center;
  min-height: 80vh;
  margin-top: 50px;
}

.landing h1 {
  color: black;
  margin-bottom: 1rem;
}
.image img {
  width:250px ;
  height:250px;
}

.btn {
    background-color: #004d00;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    width: 100px;
}

.green,.hero{
    display: flex; 
    flex-direction:column;
    gap: 15px;
    padding: 2rem;
    background-color: #004d00;
    color: white;
    justify-content:center ;
    align-items: ce
}

.hero{
  background-color: #fff;
  color:black ;
}
.hero-content {
  display:flex;
  flex-direction: column;
  gap:10px;
}

.footer {
    text-align: center;
    background-color: #004d00;
    color: white;
    padding: 1rem 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
}